* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul,
li {
	list-style: none;
}

a {
	text-decoration: none;
}

#grid-container {
	display: grid;
	min-height: 100vh;
	background-color: white;
	grid-template-rows: repeat(12, 1fr);
	grid-template-columns: repeat(12, 1fr);
	grid-auto-rows: 150px;
}

.sidebar {
	display: flex;
	flex-direction: column;
	background-color: rgba(85, 145, 209, 1);
	grid-column: 1 / 2;
	grid-row: 1 / 13;
}

.sidebar a,
.sidebar li {
	color: white;
}

.logo-container {
	display: flex;
	align-items: center;
	justify-content: start;
	margin: 2rem 1rem 2rem 1rem;
}

.logo-container a {
	font-size: 2rem;
}

.nav-container {
	display: flex;
	flex-direction: column;
	align-items: start;
	margin: 2rem 1rem 2rem 1rem;
}

.nav-container .nav-item {
	font-size: 1.25rem;
}

.nav-item {
	display: flex;
	align-items: center;
	margin: 8px;
}

.nav-icon {
	margin-right: 12px;
	height: 1.5rem;
	width: 1.5rem;
}

.filter {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 1fr 2fr;
	grid-column: 2 / 13;
	grid-row: 1 / 3;
	box-shadow: 0px 5px 5px 0px gray;
	z-index: 1;
}

.filter .search-container img {
	height: 40px;
	width: 40px;
	margin-right: 16px;
}

.filter input {
	height: 2rem;
	width: 80%;
	border-radius: 16px;
	background-color: lightgray;
}

.search-container {
	display: flex;
	align-items: center;
	grid-row: 1 / 1;
	grid-column: 1 / 8;
	margin: 0.5rem 2rem 0.5rem 2rem;
}

.account-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 3rem;
	grid-row: 1 / 1;
	grid-column: 8 / 13;
	margin: 0.5rem 2rem 0.5rem 2rem;
}

.account-container .notification-icon {
	height: 30px;
	width: 30px;
}

.account-container .user-image {
	height: 60px;
	width: 60px;
	border-radius: 50%;
}

.welcome-container {
	display: flex;
	align-items: center;
	grid-row: 2 / 2;
	grid-column: 1 / 8;
	margin-left: 2rem;
}

.welcome-container .user-image {
	height: 5rem;
	width: 5rem;
	margin-right: 2rem;
	border-radius: 50%;
}

.actions-container {
	display: flex;
	justify-content: center;
	align-items: center;
	grid-row: 2 / 2;
	grid-column: 8 / 13;
	margin: 0.5rem 2rem 0.5rem 2rem;
}

.actions-container button {
	border: none;
	background-color: rgba(85, 145, 209, 1);
	border-radius: 16px;
	height: 2.5rem;
	width: 6rem;
	min-height: 1.5rem;
	max-height: 4rem;
	margin: 1rem;
	color: white;
}

.content {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-template-rows: 0.05fr 300px 300px;
	background-color: rgba(227, 232, 239, 1);
	grid-auto-rows: 300px;
	grid-column: 2 / 10;
	grid-row: 3 / 13;
	gap: 1rem;
	padding: 1rem 2rem 1rem 2rem;
}

.content .content-title {
	grid-row: 1;
	grid-column: 1 / -1;
}

.content .card {
	display: flex;
	flex-direction: column;
	justify-content: center;

	border: 1px solid black;
	border-left: 8px solid gold;
	background-color: white;
	gap: 1rem;
	padding: 1rem;
	border-radius: 1rem;
}

.content .card-imgs {
	display: flex;
	justify-content: end;
	height: 2rem;
	width: 100%;
}

.card-imgs img {
	margin-right: 1rem;
	height: 100%;
	width: auto;
}

.alerts {
	border: 2px solid blueviolet;
	grid-column: 10 / 13;
	grid-row: 3 / 13;
}

/* Testing purposes */
p {
	font-size: 1.75rem;
}

/* Fonts */
.fs-small {
	font-size: 1.25rem;
}
